form {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.filter__numeric, .filter__order {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.filter__name {
  margin-right: 20px;
}

.filter__column, .filter__comparison, .filter__number {
  width: 27%;
}

.filter__sort {
  margin-right: 20px;
  width: 20%;
}

.filter__sortColumn {
  width: 40%;
}

.filter__remove {
  margin-right: 15px;
}

.filter__btn-order {
  margin: 0 15px;
}

.filter__btn-reset {
  width: 160px;
}

@media only screen and (max-width: 1024px) {
  form {
    display: block;
  }

  .filter__name, .filter__remove {
    margin: 0;
  }

  .filter__btn-reset {
    min-width: 120px;
    width: 130px;
  }

  .filter__sort {
    width: 10%;
  }
  
  .filter__sortColumn {
    width: 60%;
  }
}
